{% extends "dashboard/base.html" %}

{% load status_tags %}

{% block content %}
<div class="outer-div"><div class="inner-div">
    <div class="menu">
        <div class="dead_menu" href="/">Pipelines</div>
        <a class="hov_menu" href="{% url 'devices' project_path %}">Devices</a>
    </div>
</div></div>

<div class="outer-div"><div class="inner-div">
    <div class="pipeline_result_table">
        <div class="pipeline_table_header">
            <div class="table_header">Pipeline</div>
            <div class="table_header">Mesa SHA</div>
            <div class="table_header">Status</div>
        </div>

        <div class="pipeline_table_container">
            {% for p in pipeline_results %}
            <div class="pipeline_cell bottom_line">
                <a class="hov" href="{{p.url}}">{{p.id}}</a>
            </div>
            <div class="pipeline_cell bottom_line">
                <a class="hov" href="{{p.mesa_url}}">{{ p.mesa_sha | slice:":10" }}</a>
            </div>
            <div class="status_cell_container">
                {% for j in p.job_results.all %}
                <div class="{{j.status}} pipeline_cell bottom_line">
                    <a class="hov" href="{% url 'job' j.project_path j.id %}">{{j.device}}:{{ j.status | status_icon | safe}}</a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div></div>
{% endblock content %}
